.footer {
  background-color: var(--container-color);
  padding-block: 30px;
  position: relative;
  z-index: 2;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-copy {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--text-white);
  transition: all 0.3s ease;
}

.footer-social-link:hover {
  opacity: 0.85;
}
